.blue  { color: #00A5C9; } .blue-bdr  { border-left-color: #00A5C9; } .blue-bg  { background-color: #00A5C9; }
.green { color: #00c924; } .green-bg { background-color: #00c924; }
.white { color: #f0fcff; }
.gray  { color: #556e74; }
.black { color: #001418; }
.on    { background-color: rgba( 0, 165, 201, 0.8 ); }

/* START Reset */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
/* END Reset */

body {
    margin: 0;
    font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji";
    font-size: 11pt;
    font-weight: 400;
    line-height: 1.5;
    color: #001418;
    text-align: left;
    background-color: #fff;
}

a, a:link {
  color: #001418;
}

a:hover, a:active {
  color: #17d5ff;
  text-decoration: none;
}

a:visited {
  color: #556e74;
}

article {
   width: 1024px;
   margin: 0 auto;
}

section {
  margin: 0.5em 2em;
  padding: 0em 0.5em;
  border-left: 2px solid #00A5C9;
}

section section {
  border-color: #556e74;
  margin-left: 1em;
  margin-bottom: 0em;
}

section.title {
  margin-top: 0;
  border: none;
  padding: 0;
}

h1 {
  font-size: 5em;
  color: #00A5C9;
  font-weight: 1000;
  width: 100%;
}

h1:before {
    background-image: url(../images/vargas-logo.png);
    background-size: cover;
    display: block;
    height: 1em;
    width: 1em;
    content: "logo";
    color: transparent;
    position: relative;
    float: left;
    margin-left: -0.5em;
    margin-top: 0.3em;
}

h2 {
  margin-top: 0.1em;
  color: #001418;
  font-weight: bolder;
}

h3 {
  width: 100%;
  color: #00A5C9;
  font-weight: bold;
  margin-top: 0.1em;
}

h4 {
  color: #556e74;
  font-weight: normal;
  font-style: italic; 
}

section section h3 {
  color: #556e74;
  font-weight: bold;
  width: 0%;
  padding-left: 0.25em;
}

h2, section section h3 {
  margin-left: -2.1em;
  margin-right: -1.5em; 
  position: relative;
  float: left;
  display: block;
  writing-mode: vertical-lr;
  text-orientation: mixed;
}

.action-items li::before {
  content: "\00bb";
  color: #556e74;
  font-weight: bolder;
  margin-right: 0.5em;
}

.languages li::before {
  content: "#";
}

.languages li {
    color: #f0fcff;
    background-color: #00A5C9;
    padding-right: .6em;
    padding-left: .6em;
    border-radius: 10em;
    display: inline-block;
    padding: .25em .4em;
    font-size: 75%;
    font-weight: 700;
    line-height: 1;
    text-align: center;
    white-space: nowrap;
    vertical-align: baseline;
    border-radius: .25em;
    font-family: SFMono-Regular,Menlo,Monaco,Consolas,"Liberation Mono","Courier New",monospace;
}

.location, time, .contact {
  margin-top: -1.5em;
  position: relative;
  font-weight: bolder;
}

.contact {
    margin-top: -3em;
    text-align: right;
    font-weight: 1000;
    color: #00A5C9;
    font-size: 1.5em;
}

.location {
  color: #556e74;
  font-style: italic;
  margin-left: 50%;
  font-weight: normal;
  float: left;
}

time, .contact {
  float: right;
}
section section time {
  margin-right: -2.5em;
}

.company {
  color: #556e74;
  font-weight: normal;
}

.hide {
  display: none;
}

.btn-group {
  float: right;
  display: block;
}

.btn-group button {
  background-color: #00A5C9;
  border: 1px solid #f0fcff;
  color: #f0fcff;
  padding: 10px 24px; /* Some padding */
  cursor: pointer; /* Pointer/hand icon */
  float: left; /* Float the buttons side by side */
}

.btn-group button:not(:last-child) {
  border-right: none; /* Prevent double borders */
}

.btn-group:after {
  content: "";
  clear: both;
  display: table;
}
.btn-group button:hover {
  opacity:0.8;
}

.btn-group button.clicked:hover {
  opacity: 1!important;
}

.clicked {
  background-color: #556e74!important;
  cursor: not-allowed!important;
}

aside.socials {
  float:right;
  padding: 1em;
}

.fa {
  padding: 10px;
  font-size: 20px;
  width: 20px;
  text-align: center;
  text-decoration: none;
  border-radius: 50%;
  color: #f0fcff!important;
  background: #00A5C9;
}

.fa:hover {
    opacity: 0.7;
}